.circle {
    width: 100%;
    height: 40px;
    line-height: 25px;
    padding: 5px 15px;
    background-color: #eee;
    color:#000;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 100;
    border: 2px solid transparent;
    cursor: pointer;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 1px 1px lightblue;
  }
  
  .stepWrapper {
    display: flex;
  }
  
  .stepBlock .circleWrapper {
    padding: 0px 20px;
    position: relative;
  }
  
  .selected .circle {
    color: white;
    background-color: rgb(64, 24, 196);
    border-color: none;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgb(121, 183, 121);
    margin: auto;
    z-index: -1;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
  
  .stepBlock:not(:last-child).selected > .circleWrapper::after,
  .stepBlock:not(:last-child).selected
    ~ .stepBlock:not(:last-child)
    > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  }
  
  .primaryButton {
    padding: 10px 25px;
    background-color: green;
    border: none;
    margin: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .primaryButton:disabled {
    opacity: 0.5;
  }
  